extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-12
                    .card.story
                        .card-block
                            include ../../includes/base-finder.jade
                   
    br