extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-12
                    .card.single
                        .card-header Contact Us
                        .card-block
                            h1.card-title Emergency Contacts
                            //- p.small.pull-md-left
                            //- p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                            //- br
                            //- img.thumbnail(src="holder.js/100px400?text=Current Staff")
                            //- p.small.text-right
                            //-     em This is an image caption
                            //- br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#b0153c")
                                        .card-block
                                            h2.card-title 112
                                            h5.card-title Craig Lambinon 082 380 3800
                                            h5.card-title Meriel Bartlett 082 994 7555
                            br
                            h1.card-title Head Office
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h5.card-title 021 434 4011
                                            h5.card-title info@searescue.org.za
                                            br
                                            h5.card-title GPS: 33° 54’ 32” S  018° 23’ 53” E
                                            h5.card-title 1 Glengariff Road, Three Anchor Bay, Cape Town, 8005
                                            h5.card-title P.O. Box 154, Green Point, 8051
                                            br
                                            h5.card-title Company Reg. No: 1967/013618/08
                                            h5.card-title NPO Reg. No. 002 – 870
                                            br
                                            h5.card-title Marketing: Jackie 021 202 4753
                            br

                            img.thumbnail(src="holder.js/100px400?text=Map")
                            p.small.text-right
                                em This is an image caption

                            .row
                                .col-md-12
                                    .card.story
                                        .card-block
                                            h3.card-title Send Us a Message
                                            form
                                                fieldset.form-group
                                                    label(for='exampleInputPassword1') Name
                                                    input#exampleInputPassword1.form-control(type='text', placeholder='')
                                                fieldset.form-group
                                                    label(for='exampleInputEmail1') Email address
                                                    input#exampleInputEmail1.form-control(type='email', placeholder='')
                                                fieldset.form-group
                                                    label(for='exampleSelect1') Subject
                                                    select#exampleSelect1.form-control
                                                      option General
                                                      option Marketing
                                                      option Donating
                                                      option Volunteering
                                                      option Comments/Suggestions
                                                fieldset.form-group
                                                    label(for='exampleTextarea') Message
                                                    textarea#exampleTextarea.form-control(rows='4')
                                                .checkbox
                                                    label
                                                      input(type='checkbox')
                                                      |  Sign me up for the NSRI newsletter.
                                                button.btn.btn-primary(type='submit') Submit

                            br                
                            a.btn.btn-success(href="/contact/bases") Rescue Bases
                            &nbsp;&nbsp;
                            a.btn.btn-primary(href="/involved") Get Involved
                            br
    br