h2 Rescue Base Finder
br
.row
	.col-md-4
		#accordion.list-group.base-finder
			.panel
				a.list-group-item.base-finder__parent(role="button" data-parent="#accordion" data-toggle="collapse" href="#collapseOne") 
					span.label.label-default.label-pill.pull-xs-right 4
					| Inland
				#collapseOne.collapse.panel-collapse
					.card
						.list-group
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Hartebeespoort Dam
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Vaal Dam
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Victoria Lake, Germiston
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Witbank Dam
			.panel
				a.list-group-item.base-finder__parent(role="button" data-parent="#accordion" data-toggle="collapse" data-target="#collapseTwo")
					span.label.label-default.label-pill.pull-xs-right 7
					| Eastern Cape
				#collapseTwo.collapse.panel-collapse
					.card
						.list-group
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') East London
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Jeffreys Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Port Alfred
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Port Elizabeth
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Port St Johns
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Oyster Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') St Francis Bay
			.panel
				a.list-group-item.base-finder__parent(role="button" data-parent="#accordion" data-toggle="collapse" data-target="#collapseThree")
					span.label.label-default.label-pill.pull-xs-right 12
					| Western Cape
				#collapseThree.collapse
					.card
						.list-group
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Agulhas
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Bakoven
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Hout Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Gordon's Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Kommetjie
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Lambert's Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Melkbosstrand
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Mykonos
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Simon's Town
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Strandfontein
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Table Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Yzerfontein
			.panel
				a.list-group-item.base-finder__parent(role="button"  data-parent="#accordion" data-toggle="collapse" data-target="#collapseFour")
					span.label.label-default.label-pill.pull-xs-right 6
					| Southern Cape
				#collapseFour.collapse
					.card
						.list-group
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Knysna
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Mossel Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Plettenberg Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Still Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Wilderness
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Witsand
			.panel
				a.list-group-item.base-finder__parent(role="button" data-parent="#accordion" data-toggle="collapse" data-target="#collapseFive")
					span.label.label-default.label-pill.pull-xs-right 4
					| Kwazulu Natal
				#collapseFive.collapse
					.card
						.list-group
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Durban
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Port Edward
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Richards Bay
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Shelly Beach
			.panel
				a.list-group-item.base-finder__parent(role="button"  data-parent="#accordion" data-toggle="collapse" data-target="#collapseSix")
					span.label.label-default.label-pill.pull-xs-right 1
					| Helicopter Service
				#collapseSix.collapse
					.card
						.list-group
							button.list-group-item.small(type="button" data-toggle='modal', data-target='#myModalBase') Air Rescue Station
	.col-md-8
		.card
			img.card-img-top(src="holder.js/100px400?text=Map")


	#myModalBase.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content

				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Base Name
				.modal-body
					img.thumbnail(src="holder.js/100px350?text=Image")
					br
					.row.bg-danger(style="margin: 0px")
						.col-md-6
							br
							.card-text.lead
								| Emergency Number:
							a(style="color: #fff;" href="tel:0829905972")
								i.fa.fa-phone &nbsp;
								| 082 990 5972
							br
							br
							.card-text.lead GPS:
							a(style="color: #fff;" href="http://maps.google.com") 33°  01.383’ S,  27° 53.478’ E
							br
							br
						.col-md-6
							br
							a.btn.btn-secondary.btn-lg.pull-xs-right(style="color: #b0153c; border: none;" href="tel:0829905972") Call Now

					br
					.row(style="padding-left: 15px;")
						.col-md-12
							.card-text.lead Craft:
							| Spirit of Lotto (13m)
							br
							| Spirit of Rotary East London (5.5m)
							br
							br
							.card-text.lead Needs:
							| A doctor to do the medicals for our volunteers.
							br
							br
							.card-text.lead Station Commander:
							| Geoff McGregor
							br
							br
							.card-text.lead Deputy:
							| Ian Reid
							br
							br

				.modal-footer
					a.btn.btn-success(href="/donate") Donate
					a.btn.btn-primary(href="/involved") Get Involved
					a.btn.btn-primary(href="/blog") Base's News 
					