h2 Platinum Partners
br
.container
	.content
		.card-deck
			each title in ["Logo", "Logo", "Logo", "Logo", "Logo", "Logo", "Logo", "Logo", "Logo", "Logo"]
				.card.card-inverse.text-xs-center(style="background-color:#eee")
					.card-block
						.card-title(style="color:#eee")= title