h2 Platinum Partners
br
.container
	.content
		.row
			.col-md-6
				h3 NSRI Partners
				a(href="")
					img(src="holder.js/100x100?text=Logo")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
					
			.col-md-6
				h3 WaterWise Partners
				a(href="")
					img(src="holder.js/100x100?text=Logo")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")
				a(href="")
					img(src="holder.js/100x100?text=Logo", style="margin-left: 5px;")