h2 Platinum Partners
br
.container
    .card-deck
        each image in [(src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo"),(src="holder.js/100px100?text=Partner Logo"), (src="holder.js/100px100?text=Partner Logo")]
            .card.story
                img.card-img-top= image
                .card-block
                    h5.card-title= title
            