extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-header About Us
                        .card-block
                            h1.card-title.sans BBBEE &amp; SARS
                            .clearfix
                            p.card-text.lead All donations whether in cash or gift-in-kind, afford donors:
                            ul.card-text.lead
                                li points for their BBBEE scorecard (since more than 75% of our beneficiaries are “black”)
                                li as well as a tax rebate (since we have been afforded special SARS 18A status)
                            p.card-text.lead Note: SARS rebates are not available for sponsorships nor entry fees to an event or competition – only for philanthropic donations.
                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption
                            h3 Statement of Compliance with Codes of Conduct of Broad-Based Black Economic Empowerment - Code Series 700 Socio-Economic Development
                            br
                            p A donation to SEA RESCUE can attract BEE points under the SED category (code 700).
                            p At Sea Rescue we undertake both pro-active and reactive measures to avoid drowning and save lives.  WaterWise teaches water safety and CPR as preventative measures to drowning.
                            p Our rescue operations and educational programmes benefit all South African citizens, and are compliant with the BBBEE codes of good practice.  In particular, more than 75% of beneficiaries are per definition black and we fully support the objectives of broad-based BEE.
                            p As such, our organisation is compliant with the requirements set out in the Act and this has been verified by the auditors Cecil Kilpin.  The factual findings report is available on request by either contacting the NSRI head office or Cecil Kilpin directly.
                            
                            
                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title.sans About Us
                            .list-group.list-group-flush
                                a.list-group-item(href="/about/history") Our History
                                a.list-group-item(href="/about/values") Our Values
                                a.list-group-item(href="/about/staff") Our Staff
                                a.list-group-item(href="/about/board") Our Board
                                a.list-group-item(href="/about/volunteers") Our Volunteers
                                a.list-group-item(href="/about/donors") Our Partners
                                a.list-group-item(href="/about/stats") Stats
                                a.list-group-item.active(href="/about/bbbee") BBBEE &amp; SARS
                                a.list-group-item(href="/about/vacancies") Vacancies
                    br
                    a(href="/donate")
                        .card.story.card-inverse(style="background-color:#555;")
                            .card-block
                                br
                                br
                                h3.card-title Learn what BBBEE &amp; tax benefits you can enjoy by donating.
                                br
                                br
                    br
                    .card.sidebar
                        .card-block
                            h4.card-title.sans Get Involved
                            .list-group.list-group-flush
                                a.list-group-item(href="/donate")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Donate
                                a.list-group-item(href="/volunteer")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Volunteer Your Time
                                a.list-group-item(href="membership")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Membership Options
                                a.list-group-item(href="/partner")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Partner with Us
                                a.list-group-item(href="/sponsor")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Sponsor a Boat

    br