extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-header About Us
                        .card-block
                            h1.card-title Our Donors
                            p.small.pull-md-left
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                            br
                            .row
                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                            br
                            .row
                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                            br
                            .row
                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                            br
                            .row
                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

                                .col-md-4
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3
                                                a.card-title(href="#") Donor
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                            br
                            br    
                            a.btn.btn-success(data-toggle='modal', data-target='#myModalPartner') Partner With Us
                            &nbsp;&nbsp;
                            a.btn.btn-primary(href="/about") More About Us
                            br
                            br

                            #myModalPartner.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                .modal-dialog(role='document')
                                    .modal-content

                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4.modal-title Partner With Us
                                        .modal-body
                                            form.form-inline
                                                .form-group
                                                    label(for='exampleInputName2') Name&nbsp;
                                                    input#exampleInputName2.form-control(type='text', placeholder='Jane Doe')
                                                &nbsp;&nbsp;&nbsp;
                                                .form-group
                                                    label(for='exampleInputName2') Company&nbsp;
                                                    input#exampleInputName2.form-control(type='text', placeholder='Jane Doe')
                                                br
                                                br
                                                .form-group
                                                    label(for='exampleInputEmail2') Email&nbsp;
                                                    input#exampleInputEmail2.form-control(type='email', placeholder='jane.doe@example.com')
                                                &nbsp;&nbsp;&nbsp;
                                                .form-group
                                                    label(for='exampleInputName2') Phone&nbsp;
                                                    input#exampleInputName2.form-control(type='text', placeholder='Jane Doe')
                                                &nbsp;&nbsp;&nbsp;
                                            &nbsp;
                                            
                                            form
                                                fieldset.form-group
                                                  label(for='exampleTextarea') In what way are you willing to help? 
                                                  textarea#exampleTextarea.form-control(rows='8', placeholder='Jane Doe') 
                                                br
                                                .checkbox.small.text-muted
                                                    label
                                                        input(type='checkbox')
                                                        |  Sign me up for the NSRI newsletter.
                                        .modal-footer
                                            button.btn.btn-primary(type='button', data-dismiss='modal') Submit

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title About Us
                            .list-group.list-group-flush
                                a.list-group-item(href="/about/history") Our History
                                a.list-group-item(href="/about/values") Our Values
                                a.list-group-item(href="/about/staff") Our Staff
                                a.list-group-item(href="/about/board") Our Board
                                a.list-group-item(href="/about/volunteers") Our Volunteers
                                a.list-group-item.active(href="/about/donors") Our Donors
                                a.list-group-item(href="/about/stats") Stats / Research
                                a.list-group-item(href="/about/bbbee") BBBEE &amp; SARS
                                a.list-group-item(href="/about/vacancies") Vacancies
                    a(href="/blog")
                        .card.story
                            .card-header.small
                                strong Our Projects
                            img.card-img-top(src="holder.js/100px200")
                            .card-block
                                span.label.label-default Projects
                                &nbsp;
                                span.label.label-default Rescue Base Name
                                h3.card-title Aenean Ridiculus Porta Quam.
                                p.small
                                    strong 23 January 2016
                                a.btn.btn-primary(href="/posts/single")
                                    |   Read More 
                                    i.fa.fa-long-arrow-right
                    a(href="/about/donors")
                        .card.story.card-inverse(style="background-color:#555;")
                            .card-block
                                br
                                br
                                h3.card-title Partner with us. Meet our donors.
                                br
                                br
                                br
                    a(href="/blog")
                        .card.story
                            .card-header.small
                                strong Our Rescues
                            img.card-img-top(src="holder.js/100px200")
                            .card-block
                                span.label.label-default Rescues
                                &nbsp;
                                span.label.label-default Rescue Base Name
                                h3.card-title Aenean Ridiculus Porta Quam.
                                p.small
                                    strong 23 January 2016
                                a.btn.btn-primary(href="/posts/single")
                                    |   Read More 
                                    i.fa.fa-long-arrow-right
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br
    br