extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-header About Us
                        .card-block
                            h1.card-title Our History
                            .clearfix
                            p.card-text.lead The National Sea Rescue Institute (NSRI) is a charity that has over 1000 unpaid volunteers who respond 24/7/365 to save lives on South African waters. We also teach disadvantaged children about basic water safety through our proactive educational initiative the 
                                a(href='/pages/waterwise') WaterWise Academy.
                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption
                            p In 1966 at Stillbaai on the East coast, just below Mossel Bay, 17 fishermen drowned after three fishing boats sank in a terrible storm.  There were four boats out that day and only one came back. Oom Gerhard Dreyer, now deep in his ‘80s, was the skipper of that boat and remembers how he, and his crew, threw everything that they could, including the fish that they had caught,  off the ‘skuit’ … making it as light as they could.   He then turned the bow into the storm and headed out to sea. In the small hours of the morning, as the storm was abating, Oom Gerhard turned back to shore, and amongst the wreckage of the other boats he found a lone survivor from the other three ‘skuits.’ It was fisherman John Aries, who was clinging to a life ring, and was so shocked that he could not talk.
                            p Following this tragic incident, Miss Pattie Price (whose own life had been saved by a RNLI lifeboat  in the English Channel) began a committed letter-writing campaign to motivate for the formation of a sea rescue organisation in South Africa.   Captain Bob Deacon and Ray Lant were the first volunteers to respond to this call and in 1967 the South African In shore Rescue Service (SAISRS) was born –  its first rescue craft – a 4.7m inflatable boat called Snoopy was donated by the Society of Master Mariners. Soon the SAISRS became the National Sea Rescue Institute (NSRI) and today carries on the proud tradition of volunteering started in 1967. All rescue crew of the NSRI are still unpaid volunteers.
                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption
                            p From that first inflatable boat, manned by two men who sometimes had to strap it to the roof of their vehicle and drive it to where it was needed for a rescue, the organisation now has over 1000 highly trained volunteers at 31 bases around the coast and on 4 inland dams. A massive organisation, with phenomenal support from the community, Sea Rescue has an annual running cost of over R73.4m that is used to run 96 rescue craft, 38 Rescue vehicles, 16 quad bikes and 11 tractors.
                            p In 2006 Sea Rescue’s proactive educational initiative, the WaterWise Academy, was launched. The WaterWise Academy’s mandate is to target child drowning prevention and create awareness strategies. The Academy has twelve Instructors spread out from Soweto, to Ceres to Nyanga, and their job is to teach children how to avoid danger, what to do in an emergency, who to call for help and gives them the confidence to initiate basic bystander CPR while they wait for an ambulance to arrive.   The WaterWise Academy targets disadvantaged youth and since its inception is very proud to have  taught over 880 000 children about basic water safety.
                            a.btn.btn-success(href="/involved") Get Involved
                            &nbsp;&nbsp;
                            a.btn.btn-primary(href="/about") More About Us
                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title About Us
                            .list-group.list-group-flush
                                a.list-group-item.active(href="/about/history") Our History
                                a.list-group-item(href="/about/values") Our Values
                                a.list-group-item(href="/about/staff") Our Staff
                    a(href="#")
                        .card.story
                            .card-header.small
                                strong Our Projects
                            img.card-img-top(src="holder.js/100px200")
                            .card-block
                                span.label.label-default Projects
                                &nbsp;
                                span.label.label-default Rescue Base Name
                                h3.card-title Aenean Ridiculus Porta Quam.
                                p.small
                                    strong 23 January 2016
                                a.btn.btn-primary(href="/posts/single")
                                    |   Read More 
                                    i.fa.fa-long-arrow-right
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#555;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br
                    a(href="#")
                        .card.story
                            .card-header.small
                                strong Our Rescues
                            img.card-img-top(src="holder.js/100px200")
                            .card-block
                                span.label.label-default Rescues
                                &nbsp;
                                span.label.label-default Rescue Base Name
                                h3.card-title Aenean Ridiculus Porta Quam.
                                p.small
                                    strong 23 January 2016
                                a.btn.btn-primary(href="/posts/single")
                                    |   Read More 
                                    i.fa.fa-long-arrow-right
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br
    br