extends ../../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-header About Us
                        .card-block
                            h1.card-title Our Values
                            p.small.pull-md-left
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                            br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3.card-title Value
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Value
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3.card-title Value
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Value
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3.card-title Value
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Value
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. 
                            br                
                            a.btn.btn-success(href="/involved") Get Involved
                            &nbsp;&nbsp;
                            a.btn.btn-primary(href="/about") More About Us
                            br

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title About Us
                            .list-group.list-group-flush
                                a.list-group-item(href="/about/history") Our History
                                a.list-group-item.active(href="/about/values") Our Values
                                a.list-group-item(href="/about/staff") Our Staff
                                a.list-group-item(href="/about/board") Our Board
                                a.list-group-item(href="/about/volunteers") Our Volunteers
                                a.list-group-item(href="/about/donors") Our Donors
                                a.list-group-item(href="/about/stats") Stats
                                a.list-group-item(href="/about/bbbee") BBBEE &amp; SARS
                                a.list-group-item(href="/about/vacancies") Vacancies
                    a(href="/blog")
                        .card.story
                            .card-header.small
                                strong Our Projects
                            img.card-img-top(src="holder.js/100px200")
                            .card-block
                                span.label.label-default Projects
                                &nbsp;
                                span.label.label-default Rescue Base Name
                                h3.card-title Aenean Ridiculus Porta Quam.
                                p.small
                                    strong 23 January 2016
                                a.btn.btn-primary(href="/posts/single")
                                    |   Read More 
                                    i.fa.fa-long-arrow-right
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#555;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br
                    a(href="/blog")
                        .card.story
                            .card-header.small
                                strong Our Rescues
                            img.card-img-top(src="holder.js/100px200")
                            .card-block
                                span.label.label-default Rescues
                                &nbsp;
                                span.label.label-default Rescue Base Name
                                h3.card-title Aenean Ridiculus Porta Quam.
                                p.small
                                    strong 23 January 2016
                                a.btn.btn-primary(href="/posts/single")
                                    |   Read More 
                                    i.fa.fa-long-arrow-right
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br
    br