.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.list-inline{
	list-style: none;
	li{
		display: inline;
		padding-right: 0.5rem;
	}
}
body{
	padding-top: 4rem;
}
.content{
	margin-top: 1rem;
}

.navbar-secondary{
	form{
		margin-left: 1rem;
	}
}

.navbar-primary{
	border-radius: 0px;
}


.base-finder{
	button{
		&:active,
		&:focus{
			outline: none;
		}
	}
	.card{
		border-radius: 0;
		border: none;
	}
}

.footer{
	background-color: $gray-light;
}