.sans{
	font-family: $font-family-sans-serif !important;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.list-inline{
	list-style: none;
	li{
		display: inline;
		padding-right: 0.5rem;
	}
}

.list-group-item:active {
	background-color: #eee;
}

body{
	padding-top: 4rem;
}
.content{
	margin-top: 1rem;
}

.navbar-secondary{
	form{
		margin-left: 1rem;
	}
}

.navbar-primary{
	border-radius: 0px;
}

.card-title {
	font-family: $font-family-serif;
}

.base-finder{
	button{
		&:active,
		&:focus{
			outline: none;
		}
	}
	.card{
		border-radius: 0;
		border: none;
	}
}

.newsletter{
	background-color: $brand-grey;
	color: $brand-black;
	font-size: 14px;
}

.footer{
	background-color: $brand-black;
	color: $brand-footer;
	font-size: 14px;
}

.footer a {
	color: $brand-footer;
}
