extends ../layouts/layout.jade

block content
    .container
        .content       
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title Donate to the NSRI
                            .clearfix
                            p.card-text.lead When you donate to Sea Rescue, 100% of your donation is used to equip our rescue crew with essential equipment, medical supplies, fuel and training. Our rescue crew are all unpaid volunteers and they do not draw salaries. All administrative costs are funded through specific sponsorship programmes and interest on our investments.
                            br
                            h3.card-title Online Donation
                            form
                                .form-group
                                    label(for='exampleInputName2') Full Name&nbsp;
                                    input#exampleInputName2.form-control(type='text', placeholder='')
                                .form-group
                                    label(for='exampleInputEmail2') Email address&nbsp;
                                    input#exampleInputEmail2.form-control(type='email', placeholder='')
                            form
                                .form-group
                                    label.sr-only(for='exampleInputAmount') Amount (in South African Rands)
                                    .input-group
                                        .input-group-addon ZAR
                                        input#exampleInputAmount.form-control(type='text', placeholder='Amount')
                                        .input-group-addon .00
                            br
                            .checkbox.small.text-muted
                                label
                                    input(type='checkbox')
                                    |   I agree to the 
                                    a(href="#")
                                    |   Terms &amp; Conditions.
                            br
                            button.btn.btn-success(type='button', data-dismiss='modal') Donate via Payfast or Card
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            button.btn.btn-success(type='button', data-dismiss='modal') Donate via PayPal 

                            br
                            br
                            hr
                            br
                            h3.card-title Offline Donation
                            .clearfix
                            p.card-text.lead Should you prefer to make an offline donation, please refer to the payment options below.
                            
                                a(style='text-decoration: none;' data-toggle="collapse" href="#collapseDeposit")
                                    h5.card-title Deposits / EFT
                                        i.fa.fa-arrow-down.fa-1.pull-right
                    
                                #collapseDeposit.collapse
                                    .row
                                        .col-md-12
                                            ul(style="list-style-type: none;")
                                                li ABSA
                                                li National Sea Rescue Institute
                                                li Account number: 1382480607
                                                li Branch: Heerengracht
                                                li Branch code: 506 009
                                                li Swift code: ABSA-ZA-JJ
                                            br
                                            p
                                                em If you choose to do an EFT, please send a proof of payment or use your telephone number as a unique reference so that we are able to thank you and send you an official receipt.


                                a(style='text-decoration: none;' data-toggle="collapse" href="#collapseCheque")
                                    h5.card-title Cheques
                                        i.fa.fa-arrow-down.fa-1.pull-right
                    
                                #collapseCheque.collapse
                                    .row 
                                        .col-md-12
                                            p Please mail to:
                                            ul(style="list-style-type: none;")
                                                li NSRI
                                                li PO Box 154
                                                li Green Point 
                                                li Western Cape
                                                li South Africa
                                                li 8051


                                a(style='text-decoration: none;' data-toggle="collapse" href="#collapseHelp")
                                    h5.card-title Need more help?
                                        i.fa.fa-arrow-down.fa-1.pull-right
                    
                                #collapseHelp.collapse
                                    .row 
                                        .col-md-12
                                            p For further assistance, please contact:
                                            ul
                                                li
                                                    a(href="natashal@searescue.org.za")
                                                        | Natasha Lindeboom
                                                    , or
                                                li +27 21 434 4011
                                            br
                            br
                            hr
                            br
                            h3.card-title Tax &amp; BBBEE
                            .clearfix
                            p.card-text.lead Your donation will earn you a tax rebate (since we have been awarded SARS 18A status) as well as points for your company BBBEE scorecard.  It is important to note that SARS does not allow rebates on entry fees to events or competitions. 

                            p 
                                em The PBO number for the NSRI, that you are required to fill in on your Tax Return, is 130000028.

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title Get Involved
                            .list-group.list-group-flush
                                a.list-group-item.active(href="/donate")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Donate
                                a.list-group-item(href="/volunteer")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Volunteer Your Time
                                a.list-group-item(href="/membership")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Membership Options
                                a.list-group-item(href="/partner")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Partner with Us
                                a.list-group-item(href="/sponsor")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Sponsor a Boat
                   
                    .card.story.card-inverse(style="background-color:#555;")
                        .card-block
                            br
                            br
                            h3.card-title Durban Rescue Base needs administrative volunteers.
                            br
                            h3.card-title
                                a(href="/volunteer") Apply now.
                            br
                    .card.story.card-inverse(style="background-color:#333;")
                        .card-block
                            br
                            br
                            h3.card-title Bakoven Rescue Base needs medical volunteers.
                            br
                            h3.card-title
                                a(href="/volunteer") Apply now.
                            br
                    .card.story.card-inverse(style="background-color:#ccc;")
                        .card-block
                            br
                            br
                            h3.card-title Vaal Rescue Base needs rescue boat equipment.
                            br
                            h3.card-title
                                a(href="/donate") Donate now.
                            br
            br