extends ../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title FAQs
                            .clearfix
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                            br
                            #accordion(role='tablist', aria-multiselectable='true')
                                .panel.panel-default
                                    #headingOne.panel-heading(role='tab')
                                        h4.panel-title
                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                                | FAQ #1
                                    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                        | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. 
                                br
                                .panel.panel-default
                                    #headingTwo.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                                | FAQ #2
                                    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                        | Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. 
                                br
                                .panel.panel-default
                                    #headingThree.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                                | FAQ #3
                                    #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                                        | Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                br
                                .panel.panel-default
                                    #headingFour.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                                | FAQ #4
                                    #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                                        | Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. 
                                br
                                .panel.panel-default
                                    #headingFive.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                                | FAQ #5
                                    #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                                        | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                                br
                                .panel.panel-default
                                    #headingSix.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                                | FAQ #6
                                    #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
                                        | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                                br
                                .panel.panel-default
                                    #headingSeven.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                                                | FAQ #7
                                    #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven')
                                        | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                                br

                .col-md-4
                    .card.story
                        .card-header.small
                            strong Our Projects
                        img.card-img-top(src="holder.js/100px200")
                        .card-block
                            span.label.label-default Projects
                            span.label.label-default Rescue Base Name
                            h3.card-title Aenean Ridiculus Porta Quam.
                            p.small
                                strong 23 January 2016
                            a.btn.btn-primary(href="/posts/single")
                                |   Read More 
                                i.fa.fa-long-arrow-right

                    .card.story
                        .card-header.small
                            strong Our Rescues
                        img.card-img-top(src="holder.js/100px200")
                        .card-block
                            span.label.label-default Rescues
                            span.label.label-default Rescue Base Name
                            h3.card-title Aenean Ridiculus Porta Quam.
                            p.small
                                strong 23 January 2016
                            a.btn.btn-primary(href="/posts/single")
                                |   Read More 
                                i.fa.fa-long-arrow-right

                    br
