extends ../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title.sans FAQs
                            .clearfix
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
                            br
                            .row
                                .col-md-10.col-md-offset-1
                                    #accordion(role='tablist', aria-multiselectable='true')
                                        .panel.panel-default
                                            #headingOne.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                                                        | FAQ #1
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                                                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. 
                                        br
                                        .panel.panel-default
                                            #headingTwo.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                                        | FAQ #2
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                                | Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. 
                                        br
                                        .panel.panel-default
                                            #headingThree.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                                        | FAQ #3
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                                                | Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                        br
                                        .panel.panel-default
                                            #headingFour.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                                        | FAQ #4
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                                                | Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. 
                                        br
                                        .panel.panel-default
                                            #headingFive.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                                        | FAQ #5
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                                                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                                        br
                                        .panel.panel-default
                                            #headingSix.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                                        | FAQ #6
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
                                                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                                        br
                                        .panel.panel-default
                                            #headingSeven.panel-heading(role='tab')
                                                h4.panel-title
                                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                                                        | FAQ #7
                                                        i.fa.fa-arrow-down.fa-1.pull-right
                                            #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven')
                                                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                                        br

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title.sans Get Involved
                            .list-group.list-group-flush
                                a.list-group-item(href="/donate")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Donate
                                a.list-group-item(href="/volunteer")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Volunteer Your Time
                                a.list-group-item(href="/membership")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Membership Options
                                a.list-group-item(href="/partner")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Partner with Us
                                a.list-group-item(href="/sponsor")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Sponsor a Boat              
                    .card.story
                        .card-block
                            h3.card-title.sans Send Us a Message
                            br
                            form
                                fieldset.form-group
                                    label(for='exampleInputPassword1') Name
                                    input#exampleInputPassword1.form-control(type='text', placeholder='')
                                fieldset.form-group
                                    label(for='exampleInputEmail1') Email address
                                    input#exampleInputEmail1.form-control(type='email', placeholder='')
                                fieldset.form-group
                                    label(for='exampleSelect1') Subject
                                    select#exampleSelect1.form-control
                                      option General
                                      option Marketing
                                      option Donating
                                      option Volunteering
                                      option Comments/Suggestions
                                fieldset.form-group
                                    label(for='exampleTextarea') Message
                                    textarea#exampleTextarea.form-control(rows='4')
                                .checkbox
                                    label.text-muted
                                      input(type='checkbox')
                                      |  Sign me up for the NSRI newsletter.
                                button.btn.btn-primary.btn-lg(type='submit') Submit
            br
