extends ../layouts/layout.jade

block content
    .container
        .content       
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title Support the NSRI
                            .clearfix
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.

                            a(name="membership")
                            .row
                                .col-md-12
                                    
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3.card-title Become a Member
                                            p.card-text Your personal annual membership fee goes towards our running costs and we will keep you updated on our projects and rescues through the Sea Rescue magazine, three times a year.
                                            a.btn.btn-primary.btn-sm.pull-right(href="/membership") Sign Up Now
                                            br
                            br
                            a(name="donate")
                            .row
                                .col-md-12
                                    
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Donate
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.         
                                            a.btn.btn-primary.btn-sm.pull-right(href="/donate") Donate Now
                                            br
                            br
                            a(name="volunteer")
                            .row
                                .col-md-12
                                    
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3.card-title Volunteer your Time
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.         
                                            a.btn.btn-primary.btn-sm.pull-right(href="/volunteer") Volunteer Now
                                            br
                            br
                            a(name="sponsor")
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Sponsor a Boat
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.         
                                            a.btn.btn-primary.btn-sm.pull-right(href="/sponsor") Sponsor Now
                                            br

                            //- #myModalMember.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            //-     .modal-dialog(role='document')
                            //-         .modal-content
                            //-             .modal-header
                            //-                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                            //-                     span(aria-hidden='true') ×
                            //-                 h4.modal-title Sign up Now
                            //-             .modal-body
                            //-                 h5 Select one of our NSRI membership options below.
                            //-                 br
                            //-                 br
                            //-                 .radio
                            //-                     label
                            //-                         input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                         .media
                            //-                             .media-left
                            //-                                 img.media-object(src="holder.js/105x105")
                            //-                             .media-body
                            //-                                 h4.media-heading Option 1
                            //-                                 p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            //-                 br
                            //-                 .radio
                            //-                     label
                            //-                         input#optionsRadios1(type='radio', name='optionsRadios', value='option2')
                            //-                         .media
                            //-                             .media-left
                            //-                                 img.media-object(src="holder.js/105x105")
                            //-                             .media-body
                            //-                                 h4.media-heading Option 2
                            //-                                 p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            //-                 br
                            //-                 form
                            //-                     .form-group
                            //-                         label(for='exampleInputName2') Full Name&nbsp;
                            //-                         input#exampleInputName2.form-control(type='text', placeholder='')
                            //-                     .form-group
                            //-                         label(for='exampleInputEmail2') Email address&nbsp;
                            //-                         input#exampleInputEmail2.form-control(type='email', placeholder='')
                            //-                 br
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   I agree to the 
                            //-                         a(href="#")
                            //-                             |   Terms &amp; Conditions.
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   Sign me up for the NSRI newsletter.
                            //-             .modal-footer
                            //-                 button.btn.btn-primary(type='button', data-dismiss='modal') Pay by Card

                            //- #myModalDonate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            //-     .modal-dialog(role='document')
                            //-         .modal-content
                            //-             .modal-header
                            //-                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                            //-                     span(aria-hidden='true') ×
                            //-                 h4.modal-title Donate Now
                            //-             .modal-body
                            //-                 form
                            //-                     .form-group
                            //-                         label(for='exampleInputName2') Full Name&nbsp;
                            //-                         input#exampleInputName2.form-control(type='text', placeholder='')
                            //-                     .form-group
                            //-                         label(for='exampleInputEmail2') Email address&nbsp;
                            //-                         input#exampleInputEmail2.form-control(type='email', placeholder='')
                            //-                 form
                            //-                     .form-group
                            //-                         label.sr-only(for='exampleInputAmount') Amount (in South African Rands)
                            //-                         .input-group
                            //-                             .input-group-addon ZAR
                            //-                             input#exampleInputAmount.form-control(type='text', placeholder='Amount')
                            //-                             .input-group-addon .00
                            //-                 br
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   I agree to the 
                            //-                         a(href="#")
                            //-                             |   Terms &amp; Conditions.
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   Sign me up for the NSRI newsletter.
                            //-             .modal-footer
                            //-                 button.btn.btn-primary(type='button', data-dismiss='modal') Pay by Card

                            //- #myModalVolunteer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            //-     .modal-dialog(role='document')
                            //-         .modal-content

                            //-             .modal-header
                            //-                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                            //-                     span(aria-hidden='true') ×
                            //-                 h4.modal-title Volunteer
                            //-             .modal-body
                            //-                 form
                            //-                     .form-group
                            //-                         label(for='exampleInputName2') Full Name&nbsp;
                            //-                         input#exampleInputName2.form-control(type='text', placeholder='')
                            //-                     .form-group
                            //-                         label(for='exampleInputEmail2') Email address&nbsp;
                            //-                         input#exampleInputEmail2.form-control(type='email', placeholder='')
                            //-                 form
                            //-                     fieldset.form-group
                            //-                       label(for='exampleTextarea') In what way are you willing to help?&nbsp; 
                            //-                       label.small e.g. skills, at events etc.
                            //-                       textarea#exampleTextarea.form-control(rows='4', placeholder='') 
                            //-                 br
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   I agree to the 
                            //-                         a(href="#")
                            //-                             |   Terms &amp; Conditions.
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   Sign me up for the NSRI newsletter.
                            //-             .modal-footer
                            //-                 button.btn.btn-primary(type='button', data-dismiss='modal') Sign Up

                            //- #myModalSponsor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            //-     .modal-dialog(role='document')
                            //-         .modal-content

                            //-             .modal-header
                            //-                 button.close(type='button', data-dismiss='modal', aria-label='Close')
                            //-                     span(aria-hidden='true') ×
                            //-                 h4.modal-title Sponsor a Boat
                            //-             .modal-body
                            //-                 h5 Select one of our NSRI boats below.
                            //-                 br
                            //-                 .row
                            //-                     .col-md-6
                            //-                         .radio
                            //-                             label
                            //-                                 input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                                 .media
                            //-                                     .media-left
                            //-                                         img.media-object(src="holder.js/200x100")
                            //-                                         .media-body
                            //-                                         p.small Boat Name    
                            //-                                             a(href="") Rescue Base 
                            //-                     br
                            //-                     .col-md-6
                            //-                         .radio
                            //-                             label
                            //-                                 input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                                 .media
                            //-                                     .media-left
                            //-                                         img.media-object(src="holder.js/200x100")
                            //-                                         .media-body
                            //-                                         p.small Boat Name    
                            //-                                             a(href="") Rescue Base
                            //-                 .row
                            //-                     .col-md-6
                            //-                         .radio
                            //-                             label
                            //-                                 input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                                 .media
                            //-                                     .media-left
                            //-                                         img.media-object(src="holder.js/200x100")
                            //-                                         .media-body
                            //-                                         p.small Boat Name    
                            //-                                             a(href="") Rescue Base 
                            //-                     br
                            //-                     .col-md-6
                            //-                         .radio
                            //-                             label
                            //-                                 input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                                 .media
                            //-                                     .media-left
                            //-                                         img.media-object(src="holder.js/200x100")
                            //-                                         .media-body
                            //-                                         p.small Boat Name    
                            //-                                             a(href="") Rescue Base
                            //-                 .row
                            //-                     .col-md-6
                            //-                         .radio
                            //-                             label
                            //-                                 input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                                 .media
                            //-                                     .media-left
                            //-                                         img.media-object(src="holder.js/200x100")
                            //-                                         .media-body
                            //-                                         p.small Boat Name    
                            //-                                             a(href="") Rescue Base 
                            //-                     br
                            //-                     .col-md-6
                            //-                         .radio
                            //-                             label
                            //-                                 input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                            //-                                 .media
                            //-                                     .media-left
                            //-                                         img.media-object(src="holder.js/200x100")
                            //-                                         .media-body
                            //-                                         p.small Boat Name    
                            //-                                             a(href="") Rescue Base  
                                            
                            //-                 br
                            //-                 form
                            //-                     .form-group
                            //-                         label(for='exampleInputName2') Full Name&nbsp;
                            //-                         input#exampleInputName2.form-control(type='text', placeholder='')
                            //-                     .form-group
                            //-                         label(for='exampleInputEmail2') Email address&nbsp;
                            //-                         input#exampleInputEmail2.form-control(type='email', placeholder='')
                            //-                 br
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   I agree to the 
                            //-                         a(href="#")
                            //-                             |   Terms &amp; Conditions.
                            //-                 .checkbox.small.text-muted
                            //-                     label
                            //-                         input(type='checkbox')
                            //-                         |   Sign me up for the NSRI newsletter.

                            //-             .modal-footer
                            //-                 button.btn.btn-primary(type='button', data-dismiss='modal') Pay by Card

                .col-md-4
                    .row
                        .col-md-12
                            .card.story
                                .card-header.small
                                    strong Special Focus Story
                                img.card-img-top(src="holder.js/100px200")
                                .card-block
                                    span.label.label-default Category
                                    &nbsp;
                                    span.label.label-default Rescue Base Name
                                    h3.card-title Aenean Ridiculus Porta Quam.
                                    p.small
                                        strong 23 January 2016
                                    a.btn.btn-primary(href="/posts/single")
                                        |   Read More 
                                        i.fa.fa-long-arrow-right

                            .card.story
                                .card-header.small
                                    strong Featured Rescue Base
                                img.card-img-top(src="holder.js/100px200")
                                .card-block
                                    h3.card-title Base Name
                                    p.small
                                        strong Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                    a.btn.btn-primary(href="/contact/bases#basefinder")
                                        |   Read More 
                                        i.fa.fa-long-arrow-right

                            a(href="/about/values")
                                .card.story.card-inverse(style="background-color:#333;")
                                    .card-block
                                        br
                                        h3.card-title Learn more about our story, people &amp; values.
                                        br
                                

            br
            .row
                .col-md-12
                    ul.nav.nav-pills.small
                        li.nav-item
                            a.nav-link.active(href="/blog") Latest Stories
                        li.nav-item
                            a.nav-link(href="/blog/category") Rescues
                        li.nav-item
                            a.nav-link(href="/blog/category") Projects
                        li.nav-item
                            a.nav-link(href="/blog/category") Events
                        li.nav-item
                            a.nav-link(href="/blog/category") Press
            br
            .row
                .col-md-12
                    .card-deck
                        each title in ["Cras mattis consectetur purus sit amet.", "Morbi leo risus, porta ac consectetur ac, vestibulum at eros.", "Nullam id dolor id nibh ultricies vehicula ut id elit.", "Etiam porta sem malesuada magna."]
                            .card.story
                                img.card-img-top(src="holder.js/100px160")
                                .card-block
                                    span.label.label-default Category
                                    &nbsp;
                                    span.label.label-default Rescue Base Name
                                    h4.card-title= title
                                    p.small
                                        strong 4 March 2016
                                    a.card-link(href="/posts/single")
                                        |   Read More 
                                        i.fa.fa-long-arrow-right
            .row
                .col-md-12
                    .read-more.text-center
                        a.btn.btn-primary(href="#")
                            | View All 
                            i.fa.fa-long-arrow-right
                
            br