extends ../layouts/layout.jade

block content
    .container
        .content       
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title Become an NSRI Member
                            .clearfix
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.

                            a(name="membership")
                            .row
                                .col-md-12
                                    
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h3.card-title Option
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            a(name="donate")
                            .row
                                .col-md-12
                                    
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Option
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            a(name="volunteer")
                            .row
                                .col-md-12
                                    
                                    .card.story.card-inverse(style="background-color:#888")
                                        .card-block
                                            h5.card-title Option
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. 
                            br
                            a(name="sponsor")
                            .row
                                .col-md-12
                                    .card.story.card-inverse(style="background-color:#555")
                                        .card-block
                                            h3.card-title Option
                                            p.card-text Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
                            br
                            br
                            .row
                                .col-md-12
                                    .card.story
                                        .card-block
                                            h3.card-title Sign Up Now
                                            form
                                                fieldset.form-group
                                                    label(for='exampleInputPassword1') Name
                                                    input#exampleInputPassword1.form-control(type='text', placeholder='')
                                                fieldset.form-group
                                                    label(for='exampleInputEmail1') Email address
                                                    input#exampleInputEmail1.form-control(type='email', placeholder='')
                                                fieldset.form-group
                                                    label(for='exampleSelect1') Select Membership Type
                                                    select#exampleSelect1.form-control
                                                      option Options
                                                      option Options
                                                      option Options
                                                      option Options
                                                br
                                            form
                                                .form-group
                                                    label(for='exampleInputAmount') Value you wish to donate per month (in South African Rands)
                                                    .input-group
                                                        .input-group-addon ZAR
                                                        input#exampleInputAmount.form-control(type='text', placeholder='Amount')
                                                        .input-group-addon .00
                                                br
                                                .checkbox.small.text-muted
                                                    label
                                                      input(type='checkbox')
                                                      |  I accept the Terms &amp; Conditions.
                                                .checkbox.small.text-muted
                                                    label
                                                      input(type='checkbox')
                                                      |  Sign me up for the NSRI newsletter.
                                                br
                                                button.btn.btn-success(type='submit') Sign Up

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title Get Involved
                            .list-group.list-group-flush
                                a.list-group-item(href="/donate")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Donate
                                a.list-group-item(href="/volunteer")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Volunteer Your Time
                                a.list-group-item.active(href="membership")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Membership Options
                                a.list-group-item(href="/sponsor")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Sponsor a Boat
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br
                
            br