extends ../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title Win R10,000 Cash
                            p.small.pull-md-left
                            .text-muted
                                em Sponsored by Discovery.
                            ul.list-inline.pull-md-right
                                li
                                    a.fa.fa-facebook(href="#")
                                li
                                    a.fa.fa-twitter(href="#")
                                li
                                    a.fa.fa-linkedin(href="#")
                            .clearfix
                            p.card-text.lead Sign up with us and you will help to save lives – and you could be a lucky winner in our promotion!
                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption
                            p For only R50 per month, you get 2 tickets into our monthly draws in which you could win five monthly prizes to the value of R10 000 each. as well as entry into the grand annual draw of R100 000.
                            p Please call Lianne Daniels-Lategan at the NSRI Call Centre on 021-430 4701 or send us an email to monthlydraw@searescue.org.za if you would like to support NSRI in this way.
                            p Our team of marketers work in our call centre and in shopping centres. If you would like to verify their details please call Jackie on 021-2024753
                            button.btn.btn-success.btn-lg(href="/membership")
                                | Donate &amp; Enter 
                .col-md-4
                    .row
                        .col-md-12
                            .card.sidebar
                                .card-block
                                    h4.card-title.sans Get Involved
                                    .list-group.list-group-flush
                                        a.list-group-item(href="/donate")
                                            span.label.label-default.label-pill.pull-xs-right
                                            | Donate
                                        a.list-group-item(href="/volunteer")
                                            span.label.label-default.label-pill.pull-xs-right
                                            | Volunteer Your Time
                                        a.list-group-item(href="/membership")
                                            span.label.label-default.label-pill.pull-xs-right
                                            | Membership Options
                                        a.list-group-item(href="/partner")
                                            span.label.label-default.label-pill.pull-xs-right
                                            | Partner with Us
                                        a.list-group-item(href="/sponsor")
                                            span.label.label-default.label-pill.pull-xs-right
                                            | Sponsor a Boat
                    br
                    a(href="/volunteer")
                        .card.story.card-inverse(style="background-color:#555;")
                            .card-block
                                br
                                h3.card-title Durban Rescue Base needs administrative volunteers.
                                br
                                h2.card-title Apply now.
                                br
                    br
                    .card.single
                        .card-block
                            h3.card-title.sans Winners

                            #accordion(role='tablist', aria-multiselectable='true')
                                hr
                                .panel.panel-default
                                    #headingOne.panel-heading(role='tab')
                                        h5.panel-title(style="margin-bottom: 0px; margin-top: 5px;")
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                                                | March 2016
                                                i.fa.fa-arrow-down.fa-1.pull-right
                                    #collapseOne.panel-collapse.collapse(style="padding-bottom: 8px;" role='tabpanel', aria-labelledby='headingOne')
                                        small Joe Black
                                hr    
                                .panel.panel-default
                                    #headingTwo.panel-heading(role='tab')
                                        h5.panel-title(style="margin-bottom: 0px; margin-top: 5px;")
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                                | February 2016
                                                i.fa.fa-arrow-down.fa-1.pull-right
                                    #collapseTwo.panel-collapse.collapse(style="padding-bottom: 8px;" role='tabpanel', aria-labelledby='headingTwo')
                                        small Jane White
                                hr    
                                .panel.panel-default
                                    #headingThree.panel-heading(role='tab')
                                        h5.panel-title(style="margin-bottom: 0px; margin-top: 5px;")
                                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                                | January 2016
                                                i.fa.fa-arrow-down.fa-1.pull-right
                                    #collapseThree.panel-collapse.collapse(style="padding-bottom: 8px;" role='tabpanel', aria-labelledby='headingThree')
                                        small Tom Smith
                                hr
                            
            br