extends ../layouts/layout.jade

block content
    .container
        .content
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title Volunteer Your Time
                            .clearfix
                            p.card-text.lead It takes a special kind of person to give up their time and to risk their life. Sea Rescue is run by over 1 000 unpaid volunteers around the country. Even our board of directors are volunteers.

                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption

                            p It is most useful to have new recruits who are familiar with the sea, radio operation, navigation or first aid but, whatever your talent, we can put you to good use. Training is done after hours in the evening or on weekends. Standby for rescues is a 24/7 commitment, and best suited to people who live 10 minutes from a rescue base.
                            p Volunteering is not glamorous work. There is a lot of training and a whole lot of cleaning up involved. It can take anywhere from 6 months to 12 months before you will be ready for a real-life rescue. So, if you are thinking Baywatch, then you will have to think again. Team effort is essential.

                            blockquote.blockquote
                                p
                                p At NSRI, our volunteers take it one step further.  They do not sign up for ‘two hours on a Thursday’ – they commit to NSRI and agree to make themselves available to go at any time, any place, any how.
                                p They prioritise the needs of a stranger – so they will leave a business meeting or their brother’s wedding or their daughter’s first ballet show.  Not only this – but in addition, they agree to risk their lives.
                                p They will head to sea in the worst conditions – when everyone else is heading for home and battening down the hatches.
                                p.small.text-muted 
                                    em NSRI CEO, Ian Wienburg
                            br

                            p If you prefer to stay on dry land you could help a rescue base with admin work, maintenance tasks or as the radio controller.  Each base would also appreciate a “mother” who is on hand with hot coffee and dry towels when they return from sea.

                            p Coastwatchers (usually retired folk who have a good view of the ocean from their homes) are an important part of the team as they act as “spotters”.  Special training and equipment is supplied.

                            blockquote.blockquote
                                p
                                p Anyone who volunteers is a special kind of person.  To offer up your free time to help people or animals in need is a selfless act.
                                p.small.text-muted 
                                    em NSRI CEO, Ian Wienburg
                            br

                            p In terms of fundraising – it may seem a mindless task, but a street collection can raise around R40,000 for one morning’s work.  If you are humble enough to join us and shake a tin, we would love to have you.
                              
                            br
                            a.btn.btn-primary(href="https://www.dropbox.com/s/8m700dcf7ncio44/Intro%20Course%20Notes%20-%20English.pdf?dl=0") Introduction to Sea Rescue
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            a.btn.btn-primary(href="https://www.dropbox.com/s/6z8cv9fqyophe0k/Intro%20Course%20Notes%20-%20Afrikaans.pdf?dl=0") Inleiding tot Seeredding 
                            br
                            br
                            br
                            .row
                                .col-md-12
                                    .card.story
                                        .card-block
                                            h3.card-title Sign Up to be a Volunteer
                                            br
                                            form
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label First name
                                                .col-sm-6
                                                  input.form-control(type='text', placeholder='')
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Last name
                                                .col-sm-6
                                                  input.form-control(type='text', placeholder='')
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Email address
                                                .col-sm-6
                                                  input.form-control(type='email', placeholder='')
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Phone number
                                                .col-sm-6
                                                  input.form-control(type='text', placeholder='')
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Suburb you reside in
                                                .col-sm-6
                                                  input.form-control(type='text', placeholder='')
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label City you reside in
                                                .col-sm-6
                                                  input.form-control(type='text', placeholder='')
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Select a Rescue Base
                                                .col-sm-6
                                                    select.form-control
                                                        option Base
                                                        option Base
                                                        option Base
                                                        option Base
                                                        option Base
                                            br
                                            hr
                                            br
                                            h4.card-title Duties &amp; Skills
                                            br
                                            form
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Duty
                                                .col-sm-6
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Rescue Crew
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Shore base during rescues
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Fundraising
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Admin
                                            br
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label Skills
                                                    br
                                                    small.text-muted Note: NSRI does not do rescue diving &amp; we do not require diving qualifications
                                                    br
                                                    small.text-muted of any sort.
                                                .col-sm-6
                                                    .checkbox
                                                      label
                                                        input(type='checkbox')
                                                        |   &nbsp;Skippers ticket
                                                    .checkbox
                                                      label
                                                        input(type='checkbox')
                                                        |   &nbsp;First aid (up to date)
                                                    .checkbox
                                                      label
                                                        input(type='checkbox')
                                                        |   &nbsp;Fire firefighting
                                                    .checkbox
                                                      label
                                                        input(type='checkbox')
                                                        |   &nbsp;Radio license
                                            br
                                            .form-group.row
                                                label.col-sm-5.col-sm-offset-1.form-control-label I am
                                                .col-sm-6
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Fit and active
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;On my way to getting fit
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Not as fit as I should be
                                                    .radio
                                                        label
                                                            input(type='radio', name='gridRadios', value='option1', checked='')
                                                            |   &nbsp;Not cut out for physical activity, I plan to be desk based
                                            hr
                                            br
                                            form
                                                .checkbox
                                                  label
                                                    input(type='checkbox')
                                                    strong I understand that I can’t sign up for specific limited hours, I would need to be flexible with my time and able to dedicate one complete week as standby.
                                            br
                                            form
                                                small.text-muted Note: There are many wonderful organisations doing good work – if you have limited time available, perhaps you are better suited for Lifesaving where you are on duty for specific shifts. If you live a distance from the rescue base – you could literally “miss the boat”, you may find it more suitable to join (for example) the volunteer fire fighters.
                                            br
                                            br
                                            button.btn.btn-success(type='submit') Apply

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title Get Involved
                            .list-group.list-group-flush
                                a.list-group-item(href="/donate")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Donate
                                a.list-group-item.active(href="/volunteer")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Volunteer Your Time
                                a.list-group-item(href="membership")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Membership Options
                                a.list-group-item(href="/sponsor")
                                    span.label.label-default.label-pill.pull-xs-right
                                    | Sponsor a Boat
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                h3.card-title Vestibulum id ligula porta felis euismod semper.
                                br
                                br
                                br