extends ../layouts/layout.jade

block content
    .container
        .content       
            .row
                .col-md-8
                    .card.single
                        .card-block
                            h1.card-title Win R10,000 Cash
                            .clearfix
                            img.thumbnail(src="holder.js/100px100?text=Sponsor Banner")
                            p
                            p.card-text.lead Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.
                            img.thumbnail(src="holder.js/100px400")
                            p.small.text-right
                                em This is an image caption
                            p Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum.
                            p Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                            a.btn.btn-lg.btn-success(data-toggle='modal', data-target='#myModal') Donate &amp; Enter
                            &nbsp;
                            hr
                            &nbsp;
                            h4 Terms &amp; Conditions
                            &nbsp;
                            ol
                                li Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero.
                                li Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero.
                                li Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero.
                                li Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero.
                            br
                            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4.modal-title Enter Now
                                        .modal-body
                                            form.form-inline
                                                .form-group
                                                    label(for='exampleInputName2') Name&nbsp;
                                                    input#exampleInputName2.form-control(type='text', placeholder='Jane Doe')
                                                &nbsp;
                                                .form-group
                                                    label(for='exampleInputEmail2') Email&nbsp;
                                                    input#exampleInputEmail2.form-control(type='email', placeholder='jane.doe@example.com')
                                            &nbsp;
                                            
                                            form
                                                fieldset.form-group
                                                  label(for='exampleTextarea') How much would you like to donate (in ZAR)?
                                                  textarea#exampleTextarea.form-control(rows='1') 
                                                fieldset.form-group
                                                  label(for='exampleTextarea') Comments or Questions?
                                                  textarea#exampleTextarea.form-control(rows='2') 
                                                br
                                                .checkbox.small.text-muted
                                                    label
                                                        input(type='checkbox')
                                                        |  I agree to the Terms &amp; Conditions.
                                                .checkbox.small.text-muted
                                                    label
                                                        input(type='checkbox')
                                                        |  Sign me up for the NSRI newsletter.
                                        .modal-footer
                                            button.btn.btn-primary(type='button', data-dismiss='modal') Submit

                .col-md-4
                    .card.sidebar
                        .card-block
                            h4.card-title Get Involved
                        .list-group.list-group-flush
                            a.list-group-item(href="#")
                                span.label.label-default.label-pill.pull-xs-right
                                | Donate
                            a.list-group-item(href="#")
                                span.label.label-default.label-pill.pull-xs-right
                                | Volunteer Your Time
                            a.list-group-item(href="#")
                                span.label.label-default.label-pill.pull-xs-right
                                | Sponsor a Boat
                            a.list-group-item(href="#")
                                span.label.label-default.label-pill.pull-xs-right
                                | Membership Options
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#333;")
                            .card-block
                                br
                                br
                                br
                                h3.card-title Banner for another competition.
                                br
                                br
                                br
                    a(href="#")
                        .card.story.card-inverse(style="background-color:#555;")
                            .card-block
                                br
                                br
                                br
                                h3.card-title Banner for another competition.
                                br
                                br
                                br
                        .card(style="text-align:center;")
                            img.card-img-top(src="holder.js/100px200?text=Winner")
                            .card-block
                                h4.card-title Winner's Name
                                p.card-text
                                    | Competition Name
                                p.small
                                    | Date
                                br
                                a.small.card-link(href="")
                                    |   View Winner Archives 
                                    i.fa.fa-long-arrow-right

                        //- #carousel-example-generic.carousel.slide(data-ride='carousel')
                        //-     ol.carousel-indicators
                        //-         li.active(data-target='#carousel-example-generic', data-slide-to='0')
                        //-         li(data-target='#carousel-example-generic', data-slide-to='1')
                        //-         li(data-target='#carousel-example-generic', data-slide-to='2')
                        //-         li(data-target='#carousel-example-generic', data-slide-to='3')
                        //-     .carousel-inner(role='listbox')
                        //-         .carousel-item.active
                        //-             img(data-src="holder.js/100px250?text=Winner's Name")
                        //-             .carousel-caption(style="color: #bbb; text-shadow:none;")
                        //-                 p.small Competition Name
                        //-         .carousel-item
                        //-             img(data-src="holder.js/100px250?text=Winner's Name")
                        //-             .carousel-caption(style="color: #bbb; text-shadow:none;")
                        //-                 p.small Competition Name
                        //-         .carousel-item
                        //-             img(data-src="holder.js/100px250?text=Winner's Name")
                        //-             .carousel-caption(style="color: #bbb; text-shadow:none;")
                        //-                 p.small Competition Name
                        //-         .carousel-item
                        //-             img(data-src="holder.js/100px250?text=Winner Archives")
                        //-             .carousel-caption(style="color: #bbb; text-shadow:none;")
                        //-                 p.small View

                        //-     a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                        //-         span.icon-prev(aria-hidden='true')
                        //-         span.sr-only Previous
                        //-     a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                        //-         span.icon-next(aria-hidden='true')
                        //-         span.sr-only Next
            br
