a(href="#")
                    .row
                        .col-md-12
                            a(href="#")
                            .card.story.card-inverse(style="background-color:#b0153c;")
                                .card-block
                                    h3.card-title Find your nearest Rescue Base.

                            a(href="#")
                                .card.story.card-inverse(style="background-color:#444;")
                                    .card-block
                                        br
                                        h3.card-title Donate to the NSRI &amp; win.
                                        br
                            a(href="#")
                                .card.story.card-inverse(style="background-color:#666;")
                                    .card-block
                                        br
                                        h4.card-title Did you know?
                                        h3.card-title During 2014/2015 we rescued 760 people.
                                        br
                            a(href="#")
                                .card.story.card-inverse(style="background-color:#444;")
                                    .card-block
                                        br
                                        h4.card-title Upcoming event:
                                        h3.card-title Moonstruck with CapeTalk supports NSRI.
                                        br