doctype html
html(lang="en")
    head
        title= "NSRI Prototype"
        block scripts
            link( href="../assets/css/core.css" rel="stylesheet")
            link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        block menu
            nav.navbar.navbar-dark.bg-inverse.small.navbar-fixed-top.navbar-secondary
                .container
                    form.form-inline.pull-md-right
                      input.form-control.form-control-sm(type="text" placeholder="Search")
                      &nbsp;
                      button.btn.btn-primary.btn-sm(style='margin-left:5px; border-radius: 0; padding: 4px 10px;', type="submit") Search
                    ul.nav.navbar-nav.pull-md-right
                        li.nav-item
                            a.nav-link(href="/") Home
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="") About
                            .dropdown-menu
                                a.dropdown-item(href='/about/history') Our History
                                a.dropdown-item(href='/about/values') Our Values
                                a.dropdown-item(href='/about/stats') Our Stats
                                a.dropdown-item(href='/about/staff') Our Staff
                                a.dropdown-item(href='/about/board') Our Board
                                a.dropdown-item(href='/about/volunteers') Our Volunteers
                                a.dropdown-item(href='/about/donors') Our Donors
                                a.dropdown-item(href='/about/bbbee') BBBEE &amp; SARS
                                a.dropdown-item(href='/about/vacancies') Vacancies
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/contact/general") Contact
                            .dropdown-menu
                                a.dropdown-item(href='/contact/general') General Info
                                a.dropdown-item(href='/contact/bases') Rescue Bases
                        li.nav-item
                            a.nav-link(href="/faq") FAQs
                        li.nav-item
                            a.nav-link(href="http://www.facebook.com/?ref=home#!/SeaRescue?ref=ts")
                                i.fa.fa-facebook-square
                        li.nav-item
                            a.nav-link(href="http://www.flickr.com/photos/searescue/")
                                i.fa.fa-flickr
                        li.nav-item
                            a.nav-link(href="http://www.nsri.org.za/feed/")
                                i.fa.fa-rss-square
            .container
                nav.navbar.bg-faded.navbar-primary
                    a.navbar-brand(href="/")
                        img(src="holder.js/250x100?text=Logos")
                    ul.nav.navbar-nav.pull-md-right(style='padding-top:35px;')
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/contact/bases") Rescue Bases
                            .dropdown-menu
                                a.dropdown-item(href='/contact/bases') Inland
                                a.dropdown-item(href='/contact/bases') Helicopter Service
                                a.dropdown-item(href='/contact/bases') Kwazulu Natal
                                a.dropdown-item(href='/contact/bases') Southern Cape
                                a.dropdown-item(href='/contact/bases') Eastern Cape
                                a.dropdown-item(href='/contact/bases') Western Cape
                        li.nav-item
                            a.nav-link(href="/involved") Get Involved
                        li.nav-item
                            a.nav-link(href="/waterwise") Waterwise Academy
                        li.nav-item
                            a.nav-link(href="/safetrx") SafeTRX
                        li.nav-item
                            a.nav-link(href="/events") Events
                        li.nav-item
                            a.nav-link(href="/blog") Newsroom
                        //- li.nav-item.dropdown
                        //-     a.nav-link.dropdown-toggle(data-toggle="dropdown", href="#") Newsroom
                        //-     .dropdown-menu
                        //-         a.dropdown-item(href="/blog") Blog
                        //-         a.dropdown-item(href="/blog") Publications
                        //-         a.dropdown-item(href='/blog') Press
                        li.nav-item
                            a.nav-link(href="/win") Win
                        //- li.nav-item.dropdown
                        //-     a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/win") Win
                        //-     .dropdown-menu
                        //-         a.dropdown-item(href='/win') Win Cash
                        //-         a.dropdown-item(href='/win') Win a Mitsubishi
            .container
                br
                .row
                    .col-md-8
                        h4
                            em The Charity that Saves Lives on South African Waters
                    .col-md-4
                        ul.nav.navbar-nav.pull-md-right
                            li.nav-item
                                a.btn.btn-success(href="/") Donate
                            li.nav-item
                                button.btn.btn-danger(type='button', data-toggle='modal', data-target='#emergencyModal')
                                    i.fa.fa-phone
                                    |  &nbsp;Emergency Numbers
                                //- button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#collapseExample', data-parent="#accordion", href="#collapseOne" aria-expanded='true', aria-controls='collapseOne')
                                //-     i.fa.fa-phone
                                //-     |  &nbsp;Emergency Numbers
                                //- #collapseExample.collapse
                                //-     .card-block(style='text-align:right; padding:5px 0px 2.5px 0px;')
                                //-         a(href="tel:112")
                                //-             strong(style='color:#b0153c;') 112
                                //-     .card-block(style='text-align:right; padding:2.5px 0px 2.5px 0px;')
                                //-         a(href="tel:0823803800") Craig 082 380 3800
                                //-     .card-block(style='text-align:right; padding:2.5px 0px 5px 0px;')
                                //-         a(href="tel:0829947555") Meriel 082 994 7555

        block content

        block newsletter
            footer.newsletter
                .container
                    br
                    .row
                        p(style="padding-left: 37%;") Sign up to receive our newsletter   
                    .row
                        .col-md-9.col-md-offset-3
                            form(name="input", action="html_form_action.asp", method="get")
                                | Name&nbsp;
                                input(style='padding-right:5px;' type="text", name="name")
                                | &nbsp;Email&nbsp;
                                input(type="text", name="email")
                                input.btn-primary(style='margin-left:5px; border:none; padding: 4px 10px;', type="submit", value="Submit")
                    br 

        block foot
            footer.footer
                .container
                    br
                    .row
                        .col-md-3
                            ul.nav
                                li.nav-item
                                    h5 About 
                                li.nav-item
                                    a.nav-link(href='/about/history') Our History
                                li.nav-item
                                    a.nav-link(href='/about/values') Our Values
                                li.nav-item
                                    a.nav-link(href='/about/stats') Our Stats
                                li.nav-item
                                    a.nav-link(href='/about/staff') Our Staff
                                li.nav-item
                                    a.nav-link(href='/about/board') Our Board
                                li.nav-item
                                    a.nav-link(href='/about/volunteers') Our Volunteers
                                li.nav-item
                                    a.nav-link(href='/about/donors') Our Donors
                                li.nav-item
                                    a.nav-link(href='/about/bbbee') BBBEE &amp; SARS
                                li.nav-item
                                    a.nav-link(href='/about/vacancies') Vacancies
                                li.nav-item
                                    a.nav-link(href='/faq') FAQs
                        .col-md-3
                            ul.nav
                                li.nav-item
                                    h5 Get Involved 
                                li.nav-item
                                    a.nav-link(href='/involved') Donate
                                li.nav-item
                                    a.nav-link(href='/involved') Membership Options
                                li.nav-item
                                    a.nav-link(href='/involved') Volunteer
                                li.nav-item
                                    a.nav-link(href='/involved') Sponsor a Boat
                                li.nav-item
                                    a.nav-link(href='/involved') Partner with Us
                        .col-md-3
                            ul.nav
                                li.nav-item
                                    h5 Rescue Bases 
                                li.nav-item
                                    a.nav-link(href='/about/history') Inland
                                li.nav-item
                                    a.nav-link(href='/about/values') Helicopter Service
                                li.nav-item
                                    a.nav-link(href='/about/stats') Kwazulu Natal
                                li.nav-item
                                    a.nav-link(href='/about/staff') Southern Cape
                                li.nav-item
                                    a.nav-link(href='/about/board') Eastern Cape
                                li.nav-item
                                    a.nav-link(href='/about/volunteers') Western Cape
                        .col-md-3
                            ul.nav
                                li.nav-item
                                    h5 Contact 
                                li.nav-item
                                    a.nav-link(href='tel:112') Emergencies: 112
                                li.nav-item
                                    a.nav-link(href='/contact/bases') Rescue Bases
                                li.nav-item
                                    a.nav-link(href='/contact/general') Head Office
                    br
                    br
            footer.footer
                .container
                    br
                    .row
                        .col-md-6
                            strong Legal &amp; Attribution
                        .col-md-6
                            ul.nav.navbar-nav.pull-md-right
                                li.nav-item
                                    a.nav-link(href="http://www.facebook.com/?ref=home#!/SeaRescue?ref=ts")
                                        i.fa.fa-facebook.fa-2x
                                li.nav-item
                                    a.nav-link(href="http://www.flickr.com/photos/searescue/")
                                        i.fa.fa-flickr.fa-2x
                                li.nav-item
                                    a.nav-link(href="http://www.nsri.org.za/feed/")
                                        i.fa.fa-rss.fa-2x
                    br


        #emergencyModal.modal.fade
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Emergency Numbers
                    .modal-body
                        .card.card-block
                            h5.card-title Emergency Number on Your Mobile
                                h4.card-title.text-danger
                                    i.fa.fa-phone &nbsp;
                                    | &nbsp;112
                        .card.card-block
                            h5.card-title NSRI Cape Town
                            .card-title.small 
                                h6.text-danger
                                    i.fa.fa-phone
                                    |  &nbsp;021 449 3500

                                hr
                                a(style='text-decoration: none;' data-toggle="collapse" href="#collapseBases")
                                    h6.card-title Other bases in this region
                                        i.fa.fa-arrow-down.fa-1.pull-right
                    
                                #collapseBases.collapse
                                  table.table.table-hover
                                    tbody
                                        tr
                                            td
                                                strong NSRI Bakoven
                                            td
                                                | Bruce Davidson
                                            td 
                                                a(href="tel:0829905962") 082 990 5962
                                        tr
                                            td
                                                strong NSRI Table Bay
                                            td
                                                | Pat van Eyssen
                                            td
                                                a(href="tel:0829905964") 082 990 5964

                

        block footscripts
            script(src="../bower/jquery/dist/jquery.min.js")
            script(src="../bower/tether/dist/js/tether.min.js")
            script(src="../bower/bootstrap/dist/js/bootstrap.min.js")
            script(src="../bower/holderjs/holder.js")
            script(src="../assets/js/general.js")