doctype html
html(lang="en")
    head
        title= "NSRI Prototype"
        block scripts
            link( href="../assets/css/core.css" rel="stylesheet")
            link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        block menu
            nav.navbar.navbar-dark.bg-inverse.small.navbar-fixed-top.navbar-secondary
                .container
                    form.form-inline.pull-md-right
                      input.form-control.form-control-sm(type="text" placeholder="Search")
                      button.btn.btn-primary.btn-sm(type="submit") Search
                    ul.nav.navbar-nav.pull-md-right
                        li.nav-item
                            a.nav-link(href="/") Home
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="#") About
                            .dropdown-menu
                                a.dropdown-item(href='/about/history') Our History
                                a.dropdown-item(href='/about/values') Our Values
                                a.dropdown-item(href='/about/staff') Our Staff
                                a.dropdown-item(href='/about/board') Our Board
                                a.dropdown-item(href='/about/volunteers') Our Volunteers
                                a.dropdown-item(href='/about/donors') Our Donors
                                a.dropdown-item(href='/about/stats') Stats
                                a.dropdown-item(href='/about/bbbee') BBBEE &amp; SARS
                                a.dropdown-item(href='/about/vacancies') Vacancies
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/contact/general") Contact
                            .dropdown-menu
                                a.dropdown-item(href='/contact/general') General Info
                                a.dropdown-item(href='/contact/bases') Rescue Bases
                        li.nav-item
                            a.nav-link(href="/pages/faq") FAQs
                        li.nav-item
                            a.nav-link(href="http://www.facebook.com/?ref=home#!/SeaRescue?ref=ts")
                                i.fa.fa-facebook-square
                        li.nav-item
                            a.nav-link(href="http://www.flickr.com/photos/searescue/")
                                i.fa.fa-flickr
                        li.nav-item
                            a.nav-link(href="http://www.nsri.org.za/feed/")
                                i.fa.fa-rss-square
            .container
                nav.navbar.bg-faded.navbar-primary
                    a.navbar-brand(href="/")
                        img(src="holder.js/250x100?text=Logos")
                    ul.nav.navbar-nav.pull-md-right(style='padding-top:35px;')
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/bases") Rescue Bases
                            .dropdown-menu
                                a.dropdown-item(href='/bases/regions') Inland
                                a.dropdown-item(href='/bases/regions') Helicopter Service
                                a.dropdown-item(href='/bases/regions') Kwazulu Natal
                                a.dropdown-item(href='/bases/regions') Southern Cape
                                a.dropdown-item(href='/bases/regions') Eastern Cape
                                a.dropdown-item(href='/bases/regions') Western Cape
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/pages/involved") Get Involved
                            .dropdown-menu
                                a.dropdown-item(href='/pages/involved') Membership Options
                                a.dropdown-item(href='/pages/involved') Donate
                                a.dropdown-item(href='/pages/involved') Volunteer Your Time
                                a.dropdown-item(href='/pages/involved') Sponsor a Boat
                        li.nav-item
                            a.nav-link(href="/pages/waterwise") Waterwise Academy
                        li.nav-item
                            a.nav-link(href="/pages/safetrx") SafeTRX
                        li.nav-item
                            a.nav-link(href="/pages/events") Events
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="#") Newsroom
                            .dropdown-menu
                                a.dropdown-item(href="/blog") Blog
                                a.dropdown-item(href="/blog") Publications
                                a.dropdown-item(href='#') Press
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", href="/pages/win") Win
                            .dropdown-menu
                                a.dropdown-item(href='/pages/win') Win Cash
                                a.dropdown-item(href='/pages/win') Win a Mitsubishi
            .container
                br
                .row
                    .col-md-8
                        p.lead
                            em The Charity that Saves Lives on South African Waters
                    .col-md-4
                        ul.nav.navbar-nav.pull-md-right
                            li.nav-item
                                a.btn.btn-success(href="#") Donate
                            li.nav-item
                                button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                                    i.fa.fa-phone
                                    |  Emergency Numbers
                                #collapseExample.collapse
                                    .card.card-block(style='text-align:right;')
                                        a(href="tel:112") 112
                                    .card.card-block(style='text-align:right;')
                                        a(href="/contact/bases") Craig 082 380 3800
                                    .card.card-block(style='text-align:right;')
                                        a(href="/contact/bases") Meriel 082 994 7555

        block content

        block foot
            footer.footer
                .container
                    br
                    .row
                        .col-md-6
                            p Sitemap &amp; Links
                            p Legal &amp; Attribution
                        .col-md-6
                            p Sign up to receive our newsletter
                            form(name="input", action="html_form_action.asp", method="get")
                                | Name&nbsp;
                                input(style='padding-right:5px;' type="text", name="name")
                                | &nbsp;Email&nbsp;
                                input(type="text", name="email")
                                input.btn-primary(style='margin-left:5px; border:none; padding: 4px 10px;', type="submit", value="Submit")
                    br 
        block footscripts
            script(src="../bower/jquery/dist/jquery.min.js")
            script(src="../bower/tether/dist/js/tether.min.js")
            script(src="../bower/bootstrap/dist/js/bootstrap.min.js")
            script(src="../bower/holderjs/holder.js")
            script(src="../assets/js/general.js")